body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #578a34;
  text-align: center;
}

#game-arena {
  width: 600px;
  height: 600px;
  background-image: url("./bg.png");
  position: relative;
  border: 5px solid #6a8f51;
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#score-board {
  font-size: x-large;
  color: white;
  /* background-color: #4e8728; */
  margin: 10px 0;
}

.start-button {
  background-color: tomato;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  margin: 4px 0;
}

.food {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}

.snake {
  width: 20px;
  height: 20px;
  background-color: tomato;
  position: absolute;
  border-radius: 5px;
}
